// Custom styling
// 
// Include the file _sass/_custom.scss to your site to add custom styling

div#hero-txt{
  position: relative;
  bottom: -310px;
}
.bg-no-image div #hero-txt{
  position: relative;
}
